body{
	margin: 0;
	padding: 0;
}

#cardContainer{
	display: inline-block;
	width: 30vw;
	margin-top: 16px;
	margin-left: 1vw;
	margin-right: 1vw;
	height: 220px;
	border: 1px solid black;
}

#cardHeader{
	background-color: gray;
	padding-bottom: 8px;
	margin-bottom: 10px;
}

#cardTitle h2{
	padding-top: 8px;
	padding-left: 8px;
	margin-top: 0;
	margin-bottom: 0;
	font-family: open sans;
}

#cardSubtitle h6{
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 8px; 
	font-family: open sans;
	font-weight: 200;
}

#graphic img{
	height: 140px;
	overflow: hidden;
	margin: 0 auto;
	display: block;
}
